/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #362222;
}

.cover {
    height: 100vh;
    margin-left: 250px;
    width: auto;
    position: fixed;
    z-index: -10;
    opacity: 40%;
}

/* Style for the section with background image */
.background-section {
    color: white;
    margin: 0 20px 50px 290px;
}

.paragraf {
    width: 80%;
    line-height: 45px;
}

.background-section h3 {
    font-weight: 400;
    margin: 0 0 0 40px;
}

.background-section p {
    font-size: 18px;
}

/* Style for text content */
.content {
    margin: 40px;
}

/* Style for the sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #171010;
    padding-top: 20px;
    text-align: center;
}

.sidebar h3 {
    color: white;
    text-align: center;
    margin-top: 2px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
}

.sidebar ul li a {
    color: white;
    display: block;
    padding: 10px;
    font-weight: bold;
}

.sidebar ul li a:hover {
    background-color: #423F3E;
    border-radius: 20px;
}

/* Style for the main content */
.content {
    margin-left: 260px;
    /* Adjust this value to match the sidebar width + some extra space */
    padding: 20px;
}

.content h2 {
    margin-bottom: 20px;
}

/* Style for round image */
.round-image {
    width: 100px;
    /* Ganti dengan ukuran yang Anda inginkan */
    height: 100px;
    /* Ganti dengan ukuran yang Anda inginkan */
    border-radius: 50%;
    /* Ini akan membuat gambar berbentuk bulat */
    object-fit: cover;
    /* Ini akan menjaga gambar agar tidak terdistorsi */
    margin-top: 30px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.biodata h2 {
    margin-bottom: 1px;
}

.biodata hr {
    margin-top: 0;
    border: 2.5pt solid #171010;
}

.section-2 {
    margin-right: 70px;
}

.section-2 p {
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.profile {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.profile img {
    width: auto;
    height: 150px;
    border-radius: 15px;
}

.profile h3 {
    font-size: xx-large;
    margin-left: 20px;
    font-weight: 500;
}

.deskripsi {
    width: fit-content;
    margin-top: 30px;
}

.deskripsi hr {
    margin-top: 5px;
    border: 1pt solid #171010;
}

.bio-des-pen {
    display: flex;
    gap: 200px;
}

.container-list-keterangan {
    display: flex;
    gap: 290px;
}

.list-keterangan {
    margin-top: 10px;
    margin-left: -20px;
    color: white;
}

.section-4 {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

/* Style for the card */
.card {
    width: 250px;
    background-color: #171010;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.card-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    /* Agar card tampil secara horizontal */
    vertical-align: top;
    /* Mengatur posisi card di atas */
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
}

.card p {
    font-size: 16px;
    margin-top: 10px;
}

.card a {
    display: inline-block;
    background-color: #007BFF;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #0056b3;
}

.section-5 {
    display: flex;
    gap: 200px;
    align-items: center;
}

.container-pesan {
    width: 450px;
}

.container-pesan form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-pesan form input {
    margin-bottom: 15px;
    font-size: 13px;
    padding: 4px;
}

.container-pesan button {
    color: white;
    padding: 10px;
    background-color: #228349;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.container-pesan button:hover {
    background-color: #165e33;
}

.icon {
    display: flex;
    font-size: 25pt;
    gap: 30px;
}

.icon a {
    color: white;
    text-decoration: none;
}